.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 30px;
  padding: 0 0 0 45px;
  cursor: pointer;

  & > input {
    display: none;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
  }

  &:hover > input ~ &__checkmark {
    background-color: #ebebeb;
  }

  & > input:checked ~ &__checkmark {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.659 16L0 7.556 2.224 5.27l6.435 6.159L19.776 0 22 2.286 8.659 16z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
