.download-file {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $orange;
  margin: 10px 0;
  padding: 0 0 0 30px;

  &.large {
    font-size: 22px;
    line-height: 1.2;
    padding: 0 0 0 68px;
    margin: 30px 0;
    min-height: 52px;
    display: flex;
    align-items: center;
    &::before {
      width: 42px;
      height: 52px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('/img/icons/document.svg');
      background-position: 0 0;
      background-size: 42px 52px;
    }

    @media (max-width: 768px) {
      &.large {
        font-size: 18px;
        min-height: 42px;
        &::before {
          width: 32px;
          height: 42px;
          background-size: 32px 42px;
        }
      }
    }
  }

  &::before {
    content: '';
    width: 16px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/icons/document.svg');
    background-position: 0 0;
    background-size: 16px 20px;
  }
}
