.map-navigation {
  max-width: 1140px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1140px) {
    flex-direction: column;
    align-items: center;
    & > div:first-child {
      margin: 0 0 30px 0;
    }
  }
  &__left {
    display: flex;
    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
      & > div:first-child {
        margin: 0 0 30px 0;
      }
    }
    & > div:first-child {
      margin: 0 30px 0 0;
    }
  }
  &__right {
    &__buttons {
      display: flex;
      @media (max-width: 560px) {
        flex-direction: column;
        align-items: center;
      }
      & > button {
        display: block;
        height: 40px;
        border: none;
        margin: 0;
        min-width: 228px;
        background-color: #f5f6f8;
        cursor: pointer;
        @media (max-width: 560px) {
          width: 256px;
          &:first-child {
            border-radius: 5px 5px 0px 0px;
          }
          &:last-child {
            border-radius: 0px 0px 5px 5px;
          }
        }
        &:focus {
          outline: none;
        }
        &:first-child {
          border-radius: 5px 0px 0px 5px;
        }
        &:last-child {
          border-radius: 0px 5px 5px 0px;
        }
        &.active {
          color: white;
          background-color: $orange;
        }
      }
    }
  }
}
