@import 'components/input.scss';
@import 'components/button.scss';
@import 'components/formsUndertext.scss';

.recovery-second-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 780px;
  margin: 0 auto 80px auto;

  & > * {
    margin: 0 0 20px 0;
  }

  &__text {
    width: 100%;
    text-align: center;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__remember-me {
    margin: 30px 0 0;
  }
}
