@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$orange: #ee7601;
$black: #000000;
$darkGrey: #323232;
$grey: #b0b0b0;

@import 'fonts';
@import 'libs/slick.scss';
@import 'libs/nice-select.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 20px;

  font-family: 'Helvetica Neue Cyr';
  font-style: normal;
  font-weight: 300;

  font-size: 16px;
  color: #323232;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

// article > * + * {
//   margin-top: 1em;
// }

input,
button,
textarea,
select {
  font: inherit;
}

// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

//табы
.tabs {
  & .tabs-triggers {
    display: flex;
    padding: 0 0 15px 0;
    max-width: 100%;
    overflow-x: auto;
    @media (max-width: 460px) {
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      margin: 0 0 0 -15px;
    }
    &__item {
      font-size: 24px;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #000;
      white-space: nowrap;
      @media (max-width: 460px) {
        font-size: 20px;
        &:first-child {
          margin: 0 0 0 15px;
        }
      }
      &:hover {
        color: $orange;
      }
      &.active {
        box-shadow: 0 -3px 0 $orange inset;
      }
    }
  }
  & .tabs-content {
    margin: 15px 0 0 0;
    &__item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.wrapper {
  max-width: 1920px;
  min-height: calc(100vh - 590px);
  margin: auto;

  @media (max-width: 1000px) {
    min-height: calc(100vh - 400px);
  }
}

.page-container {
  margin: 80px auto 80px auto;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: content-box;
}

//контейнеры карт
.map-container {
  height: 600px;
  @media (max-width: 768px) {
    height: 400px;
  }
}

.video-wrapper {
  position: relative;
  padding: 25px 0 56.25% 0;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//ширина всех элементов select
.select-container {
  width: 256px;
}

a {
  transition: color 0.2s ease;

  &.arrow-after:hover {
    position: relative;
    &::after {
      content: '\2192';
      position: absolute;
      right: 0;
      transform: translateX(150%);
    }
  }
}

p {
  transition: color 0.2s ease;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

svg {
  transition: fill 0.2s ease;
}

h1 {
  padding: 0 15px;
  font-size: 44px;
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 80px 0 44px 0;

  &.article-title {
    font-size: 30px;
    line-height: 1.2;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

h2 {
  padding: 0 15px;
  font-size: 30px;
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0 0 44px 0;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0 0 40px 0;
}

h4 {
  font-size: 22px;
  font-weight: lighter;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0 0 20px 0;
}

@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/pagination';

@import 'main';
@import 'about';
@import 'contacts';
@import 'catalog';
@import 'catalogSecondLevel';
@import 'product';
@import 'news';
@import 'newsPage';
@import 'helpfullInformation';
@import 'videos';
@import 'whereBuy';
@import 'auth';
@import 'passwordRecovery';
@import 'passwordRecovery2';
@import 'downloadFiles';
@import 'dillerNews';
@import 'personalSection';
@import 'basket';
@import 'ordering';
@import 'dillerCatalog';
